td{
    background-color: green;
    text-align: center;
}
th{
    background-color: yellow;
    text-align: center;
}
h1{
    color: red;
    font-size: 16px;
    text-align: center;
}
strong{
    color: #22d4fd;
}